{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="fixed-top" style="top: 7rem; margin-left: 18rem;">
    <div style="height: 600px;overflow-y: scroll;">
        <div class="row">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Items</a></div>
            <div class="col-md-6 form-inline" style="margin-left: 20rem;margin-top: -2rem;"><a style="color: #ccc;" class="btn btn-success mr-2" href="{% url 'vendor' %}"><i class="fa-solid fa-plus "></i>New</a>
              
            </div>
        </div>   
    
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-11">
                <table class="table  text-white">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for v in mdata %}
             
                      <tr>
             
                       <!-- <td onclick="location.href ='{% url 'detail' v.id %}' " > {{v.Name}}</td> -->
                        <td>{{v.mail_date}}</td>
                        <td>{{v.subject}}</td>
        
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>

        </div>
      

           
        

    </div>

</div>









{% endblock %}